.logo-composite {
  margin-top: 6rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  &__divider {
    height: 4rem;
    margin: 0 2rem;
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--element-border-color);
  }

  &__logo {
    width: 12rem;
    max-width: 90%;
    min-height: 54px;
    padding-bottom: 1rem;
  }

  &__title {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 0.275em;
    line-height: 0;
  }

  &__subtitle {
    margin-bottom: 2rem;
    color: var(--secondary-color);
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.025em;
  }
}
